<header class="site-header" data-header>
  <div class="container site-header__inner">
    <a class="site-header__brand" href="{{home}}" aria-label="{{business.name.value}}">
      <picture>
        <source srcset="/images/logo/al-qasim-movers-logo-240.webp 240w, /images/logo/al-qasim-movers-logo-360.webp 360w, /images/logo/al-qasim-movers-logo-600.webp 600w" sizes="(min-width: 62rem) 176px, 136px" type="image/webp">
        <img src="/images/logo/al-qasim-movers-logo-360.png" alt="{{business.name.value}}" width="360" height="106" class="site-header__logo">
      </picture>
    </a>

    <nav class="site-nav" id="site-nav" aria-label="{{t.nav.menu}}" data-nav>
      <ul class="site-nav__list">
        <li><a href="{{home}}">{{t.nav.home}}</a></li>
        <li><a href="{{url:reviews}}">{{t.nav.reviews}}</a></li>
        <li><a href="{{url:projects}}">{{t.nav.projects}}</a></li>
        <li class="site-nav__has-sub">
          <a href="{{url:services}}">{{t.nav.services}}</a>
          <button class="site-nav__sub-toggle" type="button" aria-expanded="false" aria-controls="nav-services">
            <span class="visually-hidden">{{t.nav.servicesMenu}}</span>
            <svg class="icon" aria-hidden="true" width="14" height="14"><use href="/images/icons/sprite.svg#chevron"></use></svg>
          </button>
          <ul class="site-nav__sub" id="nav-services">
            <li><a href="{{url:services}}home-movers-dubai/">{{t.services.home}}</a></li>
            <li><a href="{{url:services}}apartment-movers-dubai/">{{t.services.apartment}}</a></li>
            <li><a href="{{url:services}}villa-movers-dubai/">{{t.services.villa}}</a></li>
            <li><a href="{{url:services}}office-movers-dubai/">{{t.services.office}}</a></li>
            <li><a href="{{url:services}}packing-services-dubai/">{{t.services.packing}}</a></li>
            <li><a href="{{url:services}}furniture-movers-dubai/">{{t.services.furniture}}</a></li>
            <li><a href="{{url:services}}furniture-assembly-dubai/">{{t.services.assembly}}</a></li>
            <li><a href="{{url:services}}storage-services-dubai/">{{t.services.storage}}</a></li>
            <li><a href="{{url:services}}commercial-movers-dubai/">{{t.services.commercial}}</a></li>
            <li><a href="{{url:services}}pickup-truck-with-driver-dubai/">{{t.services.loading}}</a></li>
            <li><a href="{{url:services}}piano-movers-dubai/">{{t.services.heavy}}</a></li>
            <li><a href="{{url:services}}inter-emirate-movers/">{{t.services.interEmirate}}</a></li>
            <li><a class="site-nav__sub-all" href="{{url:services}}">{{t.nav.allServices}}</a></li>
          </ul>
        </li>
        <li class="site-nav__has-sub">
          <a href="{{url:areas}}">{{t.nav.areas}}</a>
          <button class="site-nav__sub-toggle" type="button" aria-expanded="false" aria-controls="nav-areas">
            <span class="visually-hidden">{{t.nav.areasMenu}}</span>
            <svg class="icon" aria-hidden="true" width="14" height="14"><use href="/images/icons/sprite.svg#chevron"></use></svg>
          </button>
          <ul class="site-nav__sub" id="nav-areas">
            <li><a href="{{url:areas}}dubai-marina/">{{t.areaNames.dubai_marina}}</a></li>
            <li><a href="{{url:areas}}jlt/">{{t.areaNames.jlt}}</a></li>
            <li><a href="{{url:areas}}business-bay/">{{t.areaNames.business_bay}}</a></li>
            <li><a href="{{url:areas}}downtown-dubai/">{{t.areaNames.downtown_dubai}}</a></li>
            <li><a href="{{url:areas}}palm-jumeirah/">{{t.areaNames.palm_jumeirah}}</a></li>
            <li><a href="{{url:areas}}jvc/">{{t.areaNames.jvc}}</a></li>
            <li><a href="{{url:areas}}al-barsha/">{{t.areaNames.al_barsha}}</a></li>
            <li><a href="{{url:areas}}arabian-ranches/">{{t.areaNames.arabian_ranches}}</a></li>
            <li><a href="{{url:areas}}dubai-hills/">{{t.areaNames.dubai_hills}}</a></li>
            <li><a href="{{url:areas}}silicon-oasis/">{{t.areaNames.silicon_oasis}}</a></li>
            <li><a class="site-nav__sub-all" href="{{url:areas}}">{{t.nav.allAreas}}</a></li>
          </ul>
        </li>
        <li><a href="{{url:about}}">{{t.nav.about}}</a></li>
        <li><a href="{{url:contact}}">{{t.nav.contact}}</a></li>
      </ul>
      <div class="site-nav__actions">
        <a class="site-nav__phone" href="{{business.phone.telLink}}" data-event="tel_click" data-placement="header">
          <svg class="icon" aria-hidden="true" width="20" height="20"><use href="/images/icons/sprite.svg#phone"></use></svg>
          <span>
            <b><bdi dir="ltr">{{business.phone.local}}</bdi></b>
            <small>{{t.cta.call}}</small>
          </span>
        </a>
      </div>
    </nav>

    <a class="btn btn--icon site-header__call" href="{{business.phone.telLink}}" aria-label="{{t.cta.callLabel}}" data-event="tel_click" data-placement="header-mobile">
      <svg class="icon" aria-hidden="true" width="24" height="24"><use href="/images/icons/sprite.svg#phone"></use></svg>
    </a>
    <button class="site-header__toggle" type="button" aria-expanded="false" aria-controls="site-nav" data-nav-toggle>
      <span class="visually-hidden" data-label-open="{{t.nav.openMenu}}" data-label-close="{{t.nav.closeMenu}}">{{t.nav.openMenu}}</span>
      <svg class="icon" aria-hidden="true" width="24" height="24"><use href="/images/icons/sprite.svg#menu"></use></svg>
    </button>
  </div>
</header>
