<div class="sticky-cta" data-sticky-cta>
  <a class="btn btn--navy sticky-cta__btn" href="{{business.phone.telLink}}" data-event="tel_click" data-placement="sticky">
    <svg class="icon" aria-hidden="true" width="20" height="20"><use href="/images/icons/sprite.svg#phone"></use></svg>
    <span>{{t.cta.call}}</span>
  </a>
  <a class="btn btn--whatsapp sticky-cta__btn" href="{{business.whatsapp.link}}" rel="noopener noreferrer" target="_blank" data-event="whatsapp_click" data-placement="sticky">
    <svg class="icon" aria-hidden="true" width="20" height="20"><use href="/images/icons/sprite.svg#whatsapp"></use></svg>
    <span>{{t.cta.whatsapp}}</span>
  </a>
</div>
